
@media screen and (min-width:768px) {

}

.alert-info {
    background-color: lightskyblue;
    padding: 1em;
    align-items: center;
}

.alert-info a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}



